@model BiblioMonolitica.web.Data.Models.EstadoPrestamo.DeleteEstadoPrestamoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>DeleteEstadoPrestamoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEstadoPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstadoPrestamo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="idEstadoPrestamo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
